<div class="container mt-5">
  <h1 class="text-danger">Todo Item</h1>
  <div class="row">
    <div class="col-md-6">
      <app-todo-form></app-todo-form>
    </div>
    <div class="col-md-6">
     <app-todo-list></app-todo-list>
    </div>
  </div>

  <hr>

  <h1 class="text-info">Study Todo</h1>
  <div class="row">
    <div class="col-md-6">
      <app-study-todo-form></app-study-todo-form>
    </div>
    <div class="col-md-6">
      <app-study-todo-list></app-study-todo-list>
    </div>
  </div>

  <hr>
   <h1 class="text-warning">Daily Todo</h1>
  <div class="row">
    <div class="col-md-6">
      <app-dailytodo-form></app-dailytodo-form>
    </div>
    <div class="col-md-6">
      <app-dailytodo-list></app-dailytodo-list>
    </div>
  </div>

  <hr>

  <h1 class="text-primary">Office Todo</h1>
  <div class="row">
    <div class="col-md-6">
      <app-officetodo-form></app-officetodo-form>
    </div>
    <div class="col-md-6">
       <app-officetodo-list></app-officetodo-list>
    </div>
  </div>

  <hr>

  <h1 class="text-danger">Todo 5</h1>

  <div class="row">
    <div class="col-md-6">
      <app-todo1-form></app-todo1-form>
    </div>
    <div class="col-md-6">
      <app-todo1-list></app-todo1-list>
    </div>
  </div>
</div>