
<ul class="lis-group" *ngIf="officeTodoArr.length > 0 ;else msg">
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let t of officeTodoArr">
        <strong>{{t.todoItem}}</strong>

        <div>
            <button mat-raised-button color="primary" (click)="onEdit(t)" class="mr-2">Edit</button>
            <button mat-raised-button color="warn" (click)="onRemove(t.todoId)">Remove</button>
        </div>
    </li>
</ul>

<ng-template #msg>
    <p class="alert alert-info">
        Not Data Found
    </p>
</ng-template>