
<div class="card">
    <div class="card-body">
        <form #todoForm="ngForm" (ngSubmit)="onTodoAdd()">
            <div class="form-group">
               <input type="text" ngModel name="todoItem" placeholder="TodoItem*" class="form-control" required #todoItem="ngModel">
            </div>
            <button *ngIf="!isEdit" mat-raised-button color="primary" class="btn btn-block">Add Todo</button>
            <button *ngIf="isEdit" mat-raised-button color="accent" class="btn btn-block" (click)="onUpdate()">Update Todo</button>
        </form>
    </div>
</div>